doctype html  
html(lang='en')  
    head
        title ChatterBots
        <!-- loading CDN dependencies -->
        link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin="anonymous")
        script(src="/socket.io/socket.io.js")
        script(src="http://localhost/tryNode/chatter.js")
        style.
            .chatCard {
                -webkit-box-sizing: content-box;
                -moz-box-sizing: content-box;
                box-sizing: content-box;
                width: 30%;
                height: 50%;
                margin-top: 7%;
                margin-left: 32%;
                padding: 1%;
                position: fixed;
                overflow: hidden;
                border: none;
                font: normal 16px/1 "Times New Roman", Times, serif;
                color: #212121;
                -o-text-overflow: ellipsis;
                text-overflow: ellipsis;
                background: #F5F5F5;
                -webkit-box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
                box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
                text-shadow: 1px 1px 1px rgba(0,0,0,0.2) ;
            }
            .chatInput {
                bottom: 10%;
                position: fixed;
                width: 36%;
                margin-left: 29%;
                padding: 1%;
                border: none;
                background-color: #4CAF50;
                color: #FAFAFA;
            }
    body
        <!-- body content -->
        div.container-fluid(style="background-color: #FAFAFA;")
            h1.text-center(style="color: #8BC34A; text-style: bold;") ChatterBots
            h5.text-center(style="color: #FF9800; text-style: italic;") POWERED BY NodeJS, Bootstrap and Pug
            hr(style="border: #F5F5F5;")
            
        div.container-fluid#chatbox(style="height: 80%; border: 1px solid red; position: fixed;")
            div.col-md-6.chatCard
                span.row.chatHistory.barebone
            div.col-md-6
                input.row.chatInput#chatInput(type="text", placeholder="Type a message here")
                
                
        input(type="hidden", value="" id="thisUserName")